
<!DOCTYPE web-app>

<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<display-name>Archetype Created Web Application</display-name>

	<filter>
		<description>
		</description>
		<display-name>LoginFilter</display-name>
		<filter-name>LoginFilter</filter-name>
		<filter-class>controller.login.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>LoginFilter</filter-name>
		<url-pattern>/LoginFilter</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>ShowRegServ</servlet-name>
		<servlet-class>controller.registration.ShowRegServ</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RegUser</servlet-name>
		<servlet-class>controller.registration.RegUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UserHome</servlet-name>
		<jsp-file>/UserHome.jsp</jsp-file>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>controller.login.Logout</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Update</display-name>
		<servlet-name>Update</servlet-name>
		<servlet-class>controller.Update</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateProfile</display-name>
		<servlet-name>UpdateProfile</servlet-name>
		<servlet-class>controller.updtprofile.UpdateProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateServ</display-name>
		<servlet-name>UpdateServ</servlet-name>
		<servlet-class>controller.updtprofile.UpdateServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ShowAllUser</display-name>
		<servlet-name>ShowAllUser</servlet-name>
		<servlet-class>controller.Admin.ShowAllUser</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>DeleteUserServ</display-name>
		<servlet-name>DeleteUserServ</servlet-name>
		<servlet-class>controller.Admin.DeleteUserServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ForgotPassServ</display-name>
		<servlet-name>ForgotPassServ</servlet-name>
		<servlet-class>controller.login.ForgotPassServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ChngPassServ</display-name>
		<servlet-name>ChngPassServ</servlet-name>
		<servlet-class>controller.general.ChngPassServ</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckUser</display-name>
		<servlet-name>CheckUser</servlet-name>
		<servlet-class>controller.general.CheckUser</servlet-class>
	</servlet>
	<!--mapping -->
	<servlet-mapping>
		<servlet-name>UserHome</servlet-name>
		<url-pattern>/LoginFilter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowRegServ</servlet-name>
		<url-pattern>/ShowRegServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RegUser</servlet-name>
		<url-pattern>/RegUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update</servlet-name>
		<url-pattern>/Update</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateProfile</servlet-name>
		<url-pattern>/UpdateProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServ</servlet-name>
		<url-pattern>/UpdateServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ShowAllUser</servlet-name>
		<url-pattern>/ShowAllUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUserServ</servlet-name>
		<url-pattern>/DeleteUserServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ForgotPassServ</servlet-name>
		<url-pattern>/ForgotPassServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChngPassServ</servlet-name>
		<url-pattern>/ChngPassServ</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckUser</servlet-name>
		<url-pattern>/CheckUser</url-pattern>
	</servlet-mapping>
	<error-page>
   <error-code>404</error-code>
   <location>/Error.jsp</location>
   </error-page>
   <error-page>
   <exception-type>java.lang.Throwable</exception-type>
   <location>/Error.jsp</location>
   </error-page>
</web-app>
